* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 219, 220);
}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 120px;
}

/* box 1 */
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    margin: -8px 4px 4px 4px;
}

.border {
    border: 1.5px solid transparent;
    padding: 5px;
    border-radius: 3px;
}

.border:hover {
    border: 1px solid white;
}

/* box2 */
.address-first {
    color: #CCCCCC;
    font-weight: 400;
    line-height: 14px;
    height: 14px;
    font-size: 12px;
    margin-left: 20px;
}

.address-sec {
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    margin-left: 3px;
    line-height: 15px;
    cursor: pointer;
}

.add-icon {
    margin-left: 5px;
    color: #d6d6d6;
    line-height: 39px;
    font-family: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* box3 */
.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-left: 8px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    /* margin-left: 2px; */
    background-color: rgb(218, 218, 218);
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}


.search-input {
    width: 100%;
    font-size: 1 rem;
    border: none;
    font-family: inherit;
}

/* .search-input placeholder {
    margin-left: 10px;
} */

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85 rem;
    background-color: rgb(252, 187, 106);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

/* box4 */
span {
    font-size: 0.7 rem;
}

.nav-sec {
    font-size: 0.85 rem;
    font-weight: 700; 
}

/* box5 */
.nav-cart i {
    font-size: 30px;
}

/* panel */
.panel {
    font-family: inherit;
    background-color: rgb(35, 47, 62);
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.all {
    display: flex;
    margin-left: -40px;
}

.all i {
    font-size: 18px;
}
.all p {
    font-family: inherit;
    margin-left: 5px;
}

.options p {
    display: inline;
    margin-left: 15px;
}
.options {
    /* padding: 30px; */
    margin-left: -60px;
    width: 70%;
    font-size: 14px;
}

.deals{
    margin-right: -50px;
}

.hero-section {
    background-image: url("hero_image.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-bottom: 40px; */
}

.hero-msg {
    font-family: Arial,sans-serif;
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 14px;
    width: 97%;
    margin-bottom: 22px;
}

.hero-msg a {
    color: #007185;
}

.shop-section {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;  */
    justify-content: space-evenly;
    background-color: rgb(205, 219, 220);
}

h4 {
    margin-left: 7.5px;
    font-size: 21px!important;
    line-height: 27.3px!important;
}
.box {
    height: 400px;
    background-color: white;
    width: 23%;
    /* border: 2px solid black; */
    padding: 20px 0px 15px;
    margin-bottom: 20px;
}

.box p {
    margin-left: 7.5px;
    font-size: 13px!important;
    line-height: 19px!important;
    color: #007185;
    cursor: pointer;
}
.box-img {
    height: 300px;
    background-size: cover;
    margin: 10px;
}

.box-content {
    margin: 0px 16px;
}

/* footer */

footer {
    margin-top: 10px;
}
.footerPanel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    font-family: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footerPanel2 {
    background-color: rgb(35, 47, 62);
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin: 45px;
}

ul p {
    font-weight: 700;
    color: #FFF;
}

.footerPanel2 ul a {
    margin-top: 15px;
    color: #dddddd;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.footerPanel3 {
    border-top: 0.5px solid white;
    background-color: rgb(35, 47, 62);
    color: white;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoEnd {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin: -8px 4px 4px 4px;
}

.footPanel4 {
    background-color: #0F1111;
    height: 70px;
    width: 100%;
    /* display: flex; */
    color: white;
    font-size: 0.85rem;
    text-align: center;
}

.pages {
    padding-top: 20px;
}

.pages a {
    color: white;
}
.copyRight {
    padding-top: 5px;
}
