* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.navlogo {
    height: 50px;
    width: 120px;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.address-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.address-sec {
    font-size: 1 rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.hero-section {
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size: cover;
}